SELECT [Ngay_Quay]
      ,[Giai_DB] 
	  + [Giai_1]
      +[Giai_21]
      +[Giai_22]
      +[Giai_31]
      +[Giai_32]
      +[Giai_33]
      +[Giai_34]
      +[Giai_35]
      +[Giai_36]
      +[Giai_41]
      +[Giai_42]
      +[Giai_43]
      +[Giai_44]
      +[Giai_51]
      +[Giai_52]
      +[Giai_53]
      +[Giai_54]
      +[Giai_55]
      +[Giai_56]
      +[Giai_61]
      +[Giai_62]
      +[Giai_63]
      +[Giai_71]
      +[Giai_72]
      +[Giai_73]
      +[Giai_74] Chuoi_Serialize
into KetQuaMB_Serialize
FROM [KetQuaMB_Flat]
where ngay_quay >= '1 may 2016'




-- xxxx
insert into KetQuaMB_Serialize(ngay_quay,Chuoi_Serialize)
select  
[Ngay_Quay]
      ,[Giai_DB] 
	  + [Giai_1]
      +[Giai_21]
      +[Giai_22]
      +[Giai_31]
      +[Giai_32]
      +[Giai_33]
      +[Giai_34]
      +[Giai_35]
      +[Giai_36]
      +[Giai_41]
      +[Giai_42]
      +[Giai_43]
      +[Giai_44]
      +[Giai_51]
      +[Giai_52]
      +[Giai_53]
      +[Giai_54]
      +[Giai_55]
      +[Giai_56]
      +[Giai_61]
      +[Giai_62]
      +[Giai_63]
      +[Giai_71]
      +[Giai_72]
      +[Giai_73]
      +[Giai_74] Chuoi_Serialize
FROM [KetQuaMB_Flat]
where ngay_quay >= '26 may 2016'